version: v26.2.0

dsn: ${DSN}

log:
  level: info
  format: json
  leak_sensitive_values: false

serve:
  public:
    base_url: ${KRATOS_PUBLIC_URL}
    host: 0.0.0.0
    port: 4433
    cors:
          enabled: true
          allowed_origins:
            - ${SELF_SERVICE_UI_URL}
          allowed_methods:
            - GET
            - POST
            - PUT
            - PATCH
            - DELETE
          allowed_headers:
            - Authorization
            - Content-Type
            - X-Session-Token
            - X-CSRF-Token
            - Cookie
            - Accept
          exposed_headers:
            - Content-Type
            - Set-Cookie
          allow_credentials: true
          max_age: 600
  admin:
    host: 0.0.0.0
    port: 4434


secrets:
  default:
    - ${DEFAULT_SECRET}
  cookie:
    - ${COOKIE_SECRET}
  cipher:
    - ${CIPHER_SECRET}
  pagination:
    - ${PAGINATION_SECRET}

identity:
  default_schema_id: default
  schemas:
    - id: default
      url: file:///etc/kratos/identity.schema.json

selfservice:
  default_browser_return_url: ${SELF_SERVICE_UI_URL}
  allowed_return_urls:
    - ${SELF_SERVICE_UI_URL}
    - ${SELF_SERVICE_UI_URL}/*

  methods:
#    totp:
#      enabled: ${KRATOS_TOTP_ENABLED}
#      config:
#        issuer: ${KRATOS_TOTP_ISSUER}

    password:
      enabled: true
      config:
        min_password_length: 12
        haveibeenpwned_enabled: true
        ignore_network_errors: true
        identifier_similarity_check_enabled: true

    oidc:
      enabled: true
      config:
        providers:
          - id: google
            provider: google
            client_id: ${OIDC_PROVIDERS_GOOGLE_CLIENT_ID}
            client_secret: ${OIDC_PROVIDERS_GOOGLE_CLIENT_SECRET}
            mapper_url: file:///etc/kratos/mappers/google.jsonnet
            scope:
              - email
              - profile

  flows:
    login:
      ui_url: ${SELF_SERVICE_UI_URL}/auth/login
      lifespan: 10m
      after:
        hooks:
          - hook: revoke_active_sessions

    registration:
      enabled: true
      ui_url: ${SELF_SERVICE_UI_URL}/auth/registration
      lifespan: 10m
#      after:
#        password:
#          hooks:
#            - hook: session
#            - hook: show_verification_ui

    settings:
      ui_url: ${SELF_SERVICE_UI_URL}/settings
      lifespan: 10m
      privileged_session_max_age: 5m
      required_aal: aal1

    recovery:
      enabled: true
      ui_url: ${SELF_SERVICE_UI_URL}/auth/recovery
      lifespan: 1h
      use: code
      notify_unknown_recipients: false

    verification:
      enabled: true
      ui_url: ${SELF_SERVICE_UI_URL}/auth/verification
      lifespan: 1h
      use: code
      notify_unknown_recipients: false

    error:
      ui_url: ${SELF_SERVICE_UI_URL}/error

oauth2_provider:
  url: ${OAUTH2_PROVIDER_URL}

cookies:
  domain: ${DOMAIN_COOKIE}
  path: /
  same_site: Lax
  secure: "true"

session:
  lifespan: 720h
  earliest_possible_extend: 24h
  cookie:
    domain: ${DOMAIN_COOKIE}
    path: /
    same_site: Lax
    secure: "true"
    persistent: true

security:
  account_enumeration:
    mitigate: true

# ----- BCrypt as default is acceptable; Argon2id is generally preferred when tuned. -----
#hashers:
#  algorithm: argon2
#  argon2:
#    memory: 256MB
#    iterations: 2
#    parallelism: 1
#    salt_length: 16
#    key_length: 32

# ----- noop as default. Do not leave noop if using MFA, backup codes, etc. -----
ciphers:
  algorithm: xchacha20-poly1305

#courier:
#  delivery_strategy: smtp
#  message_retries: 10
#  smtp:
#    connection_uri: ${KRATOS_SMTP_CONNECTION_URI}
#    from_address: ${KRATOS_SMTP_FROM_ADDRESS}
#    from_name: ${KRATOS_SMTP_FROM_NAME}

#clients:
#  http:
#    disallow_private_ip_ranges: true
#    private_ip_exception_urls:
#      - ${OAUTH2_PROVIDER_URL}
#  web_hook:
#    header_allowlist: ["X-Request-Id","X-Correlation-Id"]
